.error-Con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;                 /* full screen height */
    width: 100%;                   /* full width */
}
