.nav-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.appimg{
    width: 80px;
}

.nav-items ul{
   display: flex;
   gap: 15px;
   list-style-type: none;
   font-size: 24px;
}

.nav-items ul li{
    margin-right: 10px;
}

.nav-items ul li a {
  text-decoration: none;
  color: inherit;
}

.cart:hover{
cursor: pointer;
}

.login{
   margin-right: 2px;
   background-color: aqua;
   cursor: pointer;
}

.login:hover{
    background-color:wheat;
}

