.card{
   padding: 5px;
   margin: 5px;
   border: 1px solid black;
   width: 300px;
   height: 550px;
}

.menuimg{
    width: 100%;
    height: 50%;
}

.card:hover{
   background-color: #ff5252;       
  transform: scale(1.08); }

