.nav-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.appimg{
    width: 80px;
}

.nav-items ul{
   display: flex;
   gap: 15px;
   list-style-type: none;
   font-size: 24px;
}

.nav-items ul li{
    margin-right: 10px;
}

.cart:hover{
cursor: pointer;
}

